<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.fanlychie.mapper.EmployeeMapper">

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Employee">
		INSERT INTO EMPLOYEE (
			ID, NAME, AGE
		) VALUES (
			#{id}, #{name}, #{age}
		)
	</insert>

	<select id="selectAll" resultMap="EmployeeResultMap">
		SELECT * FROM EMPLOYEE
	</select>

	<resultMap id="EmployeeResultMap" type="Employee">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="age" column="AGE" />
	</resultMap>

</mapper>